/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
_ide_helper.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
npm-debug.log
.env
!.gitkeep
/public/images
/public/docs
/public/yandex*
/public/sp-push*
/public/css/build
/app/Providers/AppServiceProvider.php
