/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

/* -------- Menuzord ---------- */
.menuzord-menu > li {
    padding: 24px 0;
    position: relative;
}
.menuzord-menu ul.dropdown {
    top: 71px;
}

.menuzord-menu > li.with-mega {
    position: static;
}

h1 {
    font-weight: 500;
    font-size: 40px;
}

a:not([href]) {
    cursor: default;
}